body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f5f5f5;
}
.content {
	width: 50%;
	margin: auto;
	position: absolute;
	top: 10%;
	left: 25%;
	border: 1px solid #cbcbcb;
	background-color: #fff;
}
form {
	width: 50%;
	margin: 20px auto;
}
.link {
	font-family: sans-serif;
	text-decoration: none; 
	color: #3498db;
}
form div {
	padding-top: 10px;
	margin-top: 5px;
}
form div label {
	font-size: 17px;
}
select {
	width: 30%; 
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.text {
	padding: 5px;
}
.input-group {
	margin: 10px 0 10px 0;
}
.input-group input {
	height: 20px;
	width: 50%;
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid gray;
	border-radius: 5px;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: #fff;
	background-color: #2A9865;
	border: none;
	border-radius: 5px;
}
.btn:hover {
	background-color: #1F744D;
	cursor: pointer;
}
.car_descripe {
	font-size: 20px;
	letter-spacing: 1px;
	color: rgba(0,0,0,0.7);
	font-weight: bold;
}
.car_button {
	background-color: #2A9865;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #cbcbcb;
	border-radius: 3px;
	color: #fff;
}
.car_button:hover {
	background-color: #1F744D;
}
.del {
	background-color: #DE0909;
}
.del:hover {
	background-color: #C20202;
}